{% extends 'home/static/base/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
  {% block head %}
  
  <title>Tugas 7 PPW Ravi</title>
  <link rel="stylesheet" href="{% static 'css\style.css' %}">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script src="{% static 'js\pindahakordion.js' %}" type="text/javascript"></script>
  
{% endblock %}


{% block content %}
<br><br><br><br>
<div id="accordion">

  <div class="item">
    <h3><span>Aktivitas Saat Ini</span>
      <div class="move">
        <button class="move-down btn-warning btn-sm">V</button>
        <button class="move-up btn-warning btn-sm">Ʌ</button>
      </div>
    </h3>
    <div>
      <p>
      Isi Accordion Aktivitas Saat Ini adalah :<br>
      Untuk kesibukan/aktivitas saat ini adalah saya fokus kuliah
      untuk meningkatkan IP dan IPK semester tiga ini.
      </p>
    </div>
  </div>
  
  <div class="item">
    <h3><span>Pengalaman Organisasi</span>
      <div class="move">
        <button class="move-down btn-warning btn-sm">V</button>
        <button class="move-up btn-warning btn-sm">Ʌ</button>
      </div>
    </h3>
    <div>
      <p>
      Isi Accordion Pengalaman Organisasi adalah :<br>
      Untuk pengalaman organisasi saya berpengalaman mengikuti 
      Ikatan Remaja Masjid daerah saya sejak 2012 sampai sekarang.
      </p>
    </div>
  </div>
  
  <div class="item">
    <h3><span>Pengalaman Kepanitiaan</span>
      <div class="move">
        <button class="move-down btn-warning btn-sm">V</button>
        <button class="move-up btn-warning btn-sm">Ʌ</button>
      </div>
    </h3>
    <div>
      <p>
      Isi Accordion Pengalaman Kepanitiaan adalah :<br>
      Untuk pengalaman kepanitiaan saya telah mengikuti 
      Panitia Zakat, Panitia Qurban, Panitia PHBI Masjid daerah saya sejak 2012 sampai sekarang.
      </p>
    </div>
  </div>
  
  <div class="item">
    <h3><span>Prestasi</span>
      <div class="move">
        <button class="move-down btn-warning btn-sm">V</button>
        <button class="move-up btn-warning btn-sm">Ʌ</button>
      </div>
    </h3>
    <div>
      <p>
      Isi Accordion Prestasi adalah :<br>
      Untuk prestasi saya yang mendapat sertifikat hanya
      OSN tahun 2011-2012 sampai tingkat 
      provinsi DKI Jakarta dan walikota Jakarta Barat.
      </p>
    </div>
  </div>
  
</div>
{% endblock %}
 
